{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<section class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <h3>{% trans "Sign In" %}</h3>
          <br>
          <br>
    
          <p>{% blocktrans %}Welcome back to Mike Wilkins Councelling. If you have not created an account yet, 
            then please <a class="link" href="{{ signup_url }}">sign up</a> first to make an appointment.{% endblocktrans %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            {% csrf_token %}
            <button class="btn btn-primary right" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
